<!doctype html>
<html lang="en" ng-app="styleguide">
<head>
  <meta charset="utf-8">
  <title>TLE Style Guide</title>
  <!-- Made by Cabin <http://madebycabin.com/>. xo! -->
  <meta name="viewport" content="width=560">

  <link rel="stylesheet" href="styleguide-1181b42d.css"/>
  <script type="text/javascript" src="//use.typekit.net/wlg2nfm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="content" toc-container>
    <aside class="last-updated">Last updated November 10, 2014</aside>

    <nav class="side-nav">
      <a class="logo" href="#/">Tender Loving Empire</a>
      <div table-of-contents></div>
    </nav>

    <header class="header" fill-height>
      <h1 no-toc>All together now.</h1>
      <h2 no-toc>A guide to keeping TLE lookin&rsquo; sharp &amp; singin&rsquo; sweetly.</h2>
    </header>

    <section class="chapter">
      <h1 class="chapter__header">Brand Guidelines</h1>

      <section class="section" fill-height>
        <h2 class="section__header">Brand Lens</h2>
        <p class="section__description">Always keep in mind who we are, what we
        stand for, and where we’re going.</p>

        <img src="img/img-shop.png" class="col-x" alt="
          Tender Loving Empire is a record label and marketplace for handmade
          goods supporting independent artists, their works, and a thriving
          community of fans, friends, and loyal patrons.
        ">

        <div class="chunk">
          <div class="col-s block">
            <h4 class="block__header">Mission</h4>
            <p>Our mission is to cultivate a roster of extraordinary
            independent artists and equip them with the tools and support
            necessary to promote and sell their works at scale.</p>
          </div>

          <div class="col-s block">
            <h4 class="block__header">Differentiation</h4>
            <p>Equal parts record label and marketplace for handmade goods, our
            hybrid approach fuels our interwoven community to thrive.</p>
          </div>

          <div class="col-s block">
            <h4 class="block__header">Personality</h4>
            <p>
            - Authentic<br>
            - Extraordinary<br>
            - Inclusive<br>
            - Experiential<br>
            - Joyful
            </p>
          </div>
        </div>
      </section>

      <section class="section">
  <h2 class="section__header">Logo</h2>
  <p class="section__description">Whether set together or traveling miles
  apart, our symbol and wordmark love to be in the spotlight.
  <br><a href="downloads/Logos.zip" class="button">Download logos</a></p>

  <div class="chunk">
    <div class="col-l block">
      <h4 class="block__header">Stacked</h4>
      <img src="img/logo-couple.png" width="510" height="210" alt cb-at2x>
    </div>
    <div class="col-s block" style="float: right;">
      <h4 class="block__header">Symbol</h4>
      <img src="img/logo-symbol.png" width="240" height="90" alt cb-at2x>
    </div>
    <div class="col-s block" style="float: right;">
      <h4 class="block__header">Wordmark</h4>
      <img src="img/logo-wordmark.png" width="240" height="178" alt cb-at2x>
    </div>
    <div class="col-l block">
      <h4 class="block__header">Long form</h4>
      <img src="img/logo-longform.png" width="510" height="30" alt cb-at2x>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__header" no-toc>Halftone</h2>
  <p class="section__description">When output is limited to one color or a
  single material, use halftoning to simulate opacity.</p>

  <div class="chunk">
    <div class="col-l block">
      <h4 class="block__header">60%</h4>
      <img src="img/logo-halftone.png" width="510" height="90" alt cb-at2x>
    </div>
    <div class="col-s block">
      <p>Regardless of how large or small you scale the logo, make sure to
      adjust the halftone pattern to visually appear as 60% opacity.</p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__header" no-toc>Minimum size</h2>
  <p class="section__description">Our logo is our calling card. Remember not to
  scale it down so small that no one rings us.</p>

  <div class="chunk">
    <div class="col-s block">
      <h4 class="block__header">Digital</h4>
      <img src="img/logo-minSize-web.png" width="240" height="112" alt cb-at2x>
    </div>
    <div class="col-s block">
      <h4 class="block__header">Print</h4>
      <img src="img/logo-minSize-print.png" width="240" height="112" alt cb-at2x>
    </div>
    <div class="col-s block">
      <p>If space is limited (e.g., in the case of social media), consider
      using our symbol on its own.</p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__header" no-toc>Clear Space</h2>
  <p class="section__description">Just like everybody else, our logo needs room
  to breathe. It’s our job to make sure it gets it, no matter how kooky the
  circumstances.</p>

  <div class="chunk">
    <div class="col-l block">
      <h4 class="block__header">Stacked</h4>
      <img src="img/logo-clearSpace-couple.png" width="510" height="320" alt cb-at2x>
    </div>
    <div class="col-s block" style="float: right;">
      <h4 class="block__header">Symbol</h4>
      <img src="img/logo-clearSpace-symbol.png" width="240" height="142" alt cb-at2x>
    </div>
    <div class="col-s block" style="float: right;">
      <h4 class="block__header">Wordmark</h4>
      <img src="img/logo-clearSpace-wordmark.png" width="240" height="165" alt cb-at2x>
    </div>
    <div class="col-l block">
      <h4 class="block__header">Long form</h4>
      <img src="img/logo-clearSpace-longform.png" width="510" height="94" alt cb-at2x>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__header" no-toc>Do’s &amp; Don’ts</h2>
  <p class="section__description">When it comes to our logo, consistency is the
  name of the game.</p>

  <div class="chunk">
    <div class="col-l block">
      <h4 class="block__header">Yes</h4>
      <img src="img/logo-yes.png" width="510" height="255" alt cb-at2x>
    </div>
    <div class="col-s block">
      <h4 class="block__header">
        <img src="img/logo-yes-icon.png" width="10" height="8" alt="✓" cb-at2x>
      </h4>
      <ul>
        <li>Use gold on light backgrounds
        <li>Use white on dark backgrounds
        <li>Maintain legibility &amp; clear space
      </ul>
    </div>
    <div class="col-l block">
      <h4 class="block__header">No</h4>
      <img src="img/logo-no.png" width="510" height="767" alt cb-at2x>
    </div>
    <div class="col-s block">
      <h4 class="block__header">
        <img src="img/logo-no-icon.png" width="10" height="8" alt="X" cb-at2x>
      </h4>
      <ul>
        <li>Don’t add new colors or effects
        <li>Don’t rotate, skew, or warp
        <li>Don’t alter hierarchy
      </ul>
    </div>
  </div>
</section>

      <section class="section" fill-height>
  <h2 class="section__header">Colors</h2>

  <p class="section__description">We like keepin’ it bold and simple, leaving
  room for our artists’ works to shine.</p>

  <div class="chunk">
    <div class="col-s block">
      <h4 class="block__header">Gold</h4>
      <div class="color-swatch color-swatch--big color-swatch--gold"></div>

      <table class="color-data">
        <tr><th>Hex:</th><td>#988860</td></tr>
        <tr><th>RGB:</th><td>152-136-96</td></tr>
        <tr><th>CMYK:</th><td>37-40-70-8</td></tr>
        <tr><th>Pantone:</th><td>7754 U</td></tr>
        <tr><th>Metallic:</th><td>871 C</td></tr>
      </table>
    </div>

    <div class="col-s block">
      <h4 class="block__header">Salmon</h4>
      <div class="color-swatch color-swatch--big color-swatch--salmon"></div>

      <table class="color-data">
        <tr><th>Hex:</th><td>#ee6640</td></tr>
        <tr><th>RGB:</th><td>238-102-64</td></tr>
        <tr><th>CMYK:</th><td>0-75-81-0</td></tr>
        <tr><th>Pantone:</th><td>485 U</td></tr>
      </table>
    </div>

    <div class="col-s block">
      <p>Our primary colors are gold and salmon, but we have a full color
      palette that can be explored as well. Rock it out!</p>
    </div>
  </div>

  <div class="chunk" ng-controller="ColorSwatchCtrl">
    <div class="col-l block">
      <h4 class="block__header">Full Color Palette</h4>
      <div
        ng-repeat="color in colors"
        ng-click="select(color)"
        ng-mouseover="select(color)"
        class="color-swatch" style="background-color: {{color}}"
        ng-class="{'color-swatch--is-selected': selected === color}"
      ></div>
    </div>

    <div class="col-s block block--color-data" cb-sticky-pos>
      <table class="color-data" ng-if="selected" style="margin-top: 0">
        <tr><th>Hex:</th><td ng-bind="selected"></td></tr>
      </table>
    </div>
  </div>
</section>

      <section class="section" fill-height>
  <h2 class="section__header">Typography</h2>

  <p class="section__description">Our primary typefaces are Museo Sans and
  Minion Pro. Cozy up with them a while so you know how to treat &lsquo;em
  right.
  <br><a href="downloads/Fonts.zip" class="button">Download Fonts</a></p>

  <div class="col-l block">
    <h4 class="block__header">Museo Sans</h4>
    <div class="type-specimen type-specimen--museo-sans">
      ABC123<br>
      ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
      abcdefghijklmnopqrstuvwxyz<br>
      0123456789+-/&amp;$%#?!
    </div>
  </div>

  <div class="col-s block">
    <p>Museo Sans is TLE’s workhorse font. Straightforward, honest, and fun—it
    is used for titles, headlines, body copy, and the occasional display
    text.</p>

    <p>Tracking should be set to 100 for all printed materials, and
    letter-spacing to .05em on the web.</p>
  </div>

  <div class="col-l block">
    <h4 class="block__header">Minion Pro</h4>
    <div class="type-specimen type-specimen--minion-pro">
      ABC123<br>
      ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
      abcdefghijklmnopqrstuvwxyz<br>
      0123456789+-/&amp;$%#?!
    </div>
  </div>

  <div class="col-s block">
    <p>Think of Minion Pro as the visual embodiment of TLE’s tender and
    descriptive voice. Minion Pro is used for sub-text (whispering tips and
    secrets in your ear). We also use Minion Pro for telling stories through
    large-scale display copy.</p>

    <p>Tracking should be set to 25 for all printed materials, and
    letter-spacing to .0em on the web.</p>
  </div>
</section>

      <section class="section" fill-height>
  <h2 class="section__header">Grids &amp Keylines</h2>

  <p class="section__description">Our world is made up of countless treasures
  of every size, shape, and color. Organizing makes it easy for visitors to
  navigate both on and offline.</p>

  <div class="col-l block">
    <h4 class="block__header">Grids</h4>
  </div>

  <div class="col-s block">
    <p>Like Legos, grids are building blocks for our visual universe. Use
    them (they like it like that).</p>
  </div>

  <div class="chunk">
    <div class="col-x grid-demo"></div>
    <div class="col-l grid-demo"></div>
    <div class="col-s grid-demo"></div>
    <div class="col-m grid-demo"></div>
    <div class="col-m grid-demo"></div>
    <div class="col-s grid-demo"></div>
    <div class="col-s grid-demo"></div>
    <div class="col-s grid-demo"></div>
  </div>

  <div class="chunk">
    <div class="col-l block">
      <h4 class="block__header">Keylines</h4>
      <div class="keyline keyline--l">7 pixels or 7 points</div>
      <div class="keyline keyline--m">3 pixels or 3 points</div>
      <div class="keyline keyline--s">1 pixel or .25 points</div>
    </div>

    <div class="col-s block">
      <p>Bold keylines organize sections, while thinner keylines organize the
      contents within each section.</p>
    </div>
  </div>
</section>


      <section class="section" fill-height>
        <h2 class="section__header">Photography</h2>

        <div class="chunk">
          <div class="col-l block">
            <h4 class="block__header">Marketing imagery</h4>
            <img src="img/photo-framing.png" width="510" height="418" alt>
          </div>

          <div class="col-s block">
            <p>Whether considering digital or print, think cinematic. No need
            to constrain photos or videos—let them fill the frame entirely.</p>
          </div>
        </div>

        <div class="chunk">
          <div class="col-l block">
            <h4 class="block__header">Product photography</h4>
            <img src="img/photo-productShots.png" width="510" height="680" alt>
          </div>

          <div class="col-s block">
            <p>Good product photography is the most powerful tool we have to
            encourage online visitors to purchase our goods—so don’t skimp!</p>

            <p>Product photos should be fully knocked out, or their background
            color should be uniform and blemish-free. If shooting within an
            environment, consider how to select one that doesn’t distract from
            the item you are trying to highlight.</p>
          </div>
        </div>
      </section>
    </section>

    <section class="chapter">
      <h1 class="chapter__header">Collateral</h1>

      <section class="section" fill-height>
        <h2 class="section__header">Stationery</h2>
        <img src="img/stationery.png" class="col-x" alt>
      </section>

      <section class="section" fill-height>
        <h2 class="section__header">Merchandise</h2>
        <img src="img/merch.png" class="col-x" alt>
      </section>

      <section class="section" fill-height>
        <h2 class="section__header">Promo &amp; Packaging</h2>
        <img src="img/packaging.png" class="col-x" alt>
      </section>

      <section class="section" fill-height>
        <h2 class="section__header">Signage</h2>
        <img src="img/signage.png" class="col-x" alt>
      </section>
    </section>
  </div>

  <script src="vendor-b9961137.js"></script>
  <script src="styleguide-6b4a84bc.js"></script>
</body>
</html>
